body {
  font-family: 'Abril Fatface', cursive;
  text-shadow: 2px 2px black;
}

#confirmation {
  display: none;
}

.banner {
    padding-left: 40px;
    padding-right: 10px;
    background-image: linear-gradient(#ff6600, #ffdd99);
    background: auto 100%;
    text-align: center;
}

h1 {
  color: white;
  font-size: 500%;
}

h4 {
  color: #cc5200;
  text-shadow: none;
}
h2 {
  color:  #5cd65c;
  padding-bottom: 10px;
  text-align: center;
  font-size: 250%;
}

#prices {
  font-size: 60%
}

.card {
  background-color: #0000cc;
  color: white;
}

.toppings {
  float: right;
}

img {
  display: block;
  max-width: 100%;
  width: 20%;
  height: auto;
  float: left;
}
.card {
  padding: inherit;
}

@media screen and (min-width: 1000px) {
  .banner {
      text-align: right;
      padding-right: 320px;
      padding-left: 220px;
  }

  h1 {
    font-size: 900%;
  }

  h4 {
    font-size: 250%;
  }

}
