/* v CSS for order form */

#pizza-order, #confirmation, #initially-hidden, .final {
  display: none;
}

body {
  font-family: 'Abril Fatface', cursive;
  text-shadow: 2px 2px black;
}

.banner {
    padding-left: 40px;
    padding-right: 10px;
    margin-top: 20px;
    background-image: linear-gradient(#ff6600, #ffdd99);
    border: solid 5px #ffcc00;
    background: auto 100%;
    text-align: center;
}

h1 {
  color: white;
  font-size: 500%;
}

h4 {
  color: #cc5200;
  text-shadow: none;
}
h2 {
  color:  #5cd65c;
  padding-bottom: 10px;
  text-align: center;
  font-size: 250%;
}

h2#confirmation {
  color: white;
  font-family: 'Abril Fatface', cursive;
  text-shadow: 2px 2px #cc5200;
}

#prices {
  font-size: 60%
}

.card {
  background-color: #0000cc;
  color: white;
  border-radius: 20px;
}

.toppings {
  float: right;
  margin-bottom: 15px;
}

img {
  display: block;
  max-width: 100%;
  width: 20%;
  height: auto;
  float: left;
}
.card {
  padding: inherit;
}

.submit-btn, .send-order-btn {
  background-color: black;
  border: solid #0099ff;
  color: yellow;
  font-family: 'Abril Fatface', cursive;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 30px;
  margin: 10px 140px;
  margin-bottom: 40px;
  border-radius: 30px;
}


@media screen and (min-width: 1000px) {
  .banner {
      text-align: right;
      padding-right: 320px;
      padding-left: 220px;
  }

  h1 {
    font-size: 900%;
  }

  h4 {
    font-size: 250%;
  }
}

/* ^ CSS for order form */

/* v CSS for intro page*/
.intro img {
  display: block;
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%
}

 .intro #customer-info {
  background-color: #e63900;
  border: solid 8px #ffcc00;
  text-align: center;
  font-family: 'Abril Fatface', cursive;
  text-shadow: 2px 2px black;
  color: white;

}

.intro .card {
  background-color: black;
  padding: 10px;
  max-height: 90%;
  border: solid 5px #ffcc00;
  margin-bottom: 5%;
  margin-top: 5%;
  /* min-height: 65% */
}

.intro input, label {
  margin: 10px;
}

.intro h2 {
  color: white;
  padding-top: 35px;
}

.intro input[type="text"], textarea {

  background-color : black;
  color: yellow;
}

 /* ^ CSS for intro page*/


 /* v CSS for final page*/
 .final img {
   display: block;
   width: 80%;
   height: auto;
   margin-left: auto;
   margin-right: auto;
   margin-top: 20%
 }

  .final {
   background-color: #0000cc;
   border: solid 8px #ffcc00;
   text-align: center;
   font-family: 'Abril Fatface', cursive;
   text-shadow: 2px 2px black;
   color: white;
 }

 .final h2 {
   color: white;
   padding-top: 35px;
 }

  /* ^ CSS for final page*/
